.s-button {
  width: fit-content;
  border: 1px solid $color--blue-3;
  border-radius: 8px;
  background: $color--white;

  &--primary {
    background: $color--white;
  }

  &--secondary {
    background: $color--white;
  }

  &--link {

  }

  &--md {
    padding: 12px 24px;
  }

  &--sm {
    padding: 7px 12px;
  }
}
